*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img{
    width: 100%;
    object-fit: cover;
}

.navBarCategoria{
    background-color: #e0e0e0;
    padding: 5% 0 5% 0 ;
    /* margin: 10% 0 10% 0 ; */
}

.contentAll{
    width: 100%;
    /* background-color: #e0e0e0; */
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    gap: 2rem;
}

/*hacer un effect move label about input*/
.formSearchPokemon{
    position: relative;
    margin-top: 1rem;
    width: 30%;
}

.formSearchPokemon input{
    width: 100%;
    /* background: #e0e0e0; */
    background: transparent;
    padding: 10px;
    border: 1px solid #000;
    border-radius: .7rem;
}

.formSearchPokemon label{
    position: absolute;
    left: 0;
    padding: 11px .5rem;
    color: #000;
    pointer-events: none;
    transition: all 400ms ease;
}


.formSearchPokemon input:focus ~ label,
.formSearchPokemon input:valid ~ label
{
    transform: translateX(10px) translateY(-12px);
    padding: 2px .5rem;
    background: #fff;
    color: #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.contentBtn{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 5px auto;
}

.contentBtn .btn{
    cursor: pointer;
    outline: none;
    border: transparent;
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 4px;
    background-color: #0ff;
    padding: 5px 10px;
    transition: background-color 400ms ease, outline 400ms ease;
}


.contentBtn .btn:hover{
    background-color: transparent;
    outline: #fff;
}

.messageError{
    background-color: transparent;
    outline: none;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 1rem;
    color: rgb(255, 0, 0);
    padding: 1rem 1.5rem;
}

.contentApi{
    width: 90%;
}

.contentApi .pokemon-item{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contentApi .pokemon-item .poke_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1rem;
}